.header{background: #55ff55;}
.footer{background: #ffaaff;}
.cat1{background: #aabbcc; }
.cat2{background: #bbccdd; }
.cat3{background: #ccddee; }
.catAll{background: #ddeeff;}
.testfont p i{margin:5px;color:#dd8888;font-size:120px;}
